body {
    background-color: #1a1a1a;
    color: #ecf0f1;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container { max-width: 750px; text-align: center; }

.fact-card {
    background: #2c3e50;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.animal-img {
    border: 5px solid #3498db; /* Синя товста рамка */
    border-radius: 10px;
    margin-bottom: 15px;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin: 15px 0;
}

.gallery img {
    border: 2px dashed #3498db; /* Пунктирна рамка */
    padding: 5px;
}